@import 'variables/colors.scss';
@import 'mixins/breakpoints.scss';

.product-modal {
  margin: 0 auto;
}

.product-modal__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.product-modal__image {
  flex-basis: 30%;
  width: 30%;
}
.product-modal__description {
  font-size: 1.2em;
  max-width: 90ch;

  @include smaller-than(640px) {
    font-size: 1rem;
  }

  @include smaller-than(420px) {
    font-size: 0.8rem;
  }
}

.product-modal__supported-title {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.product-modal__supported-section {
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.product-modal__supported-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.product-modal__supported-list-item {
  color: $text-color-white;
  background-color: $turqoise;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;

  @include smaller-than(640px) {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
}
