.product-modal-data-grid {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.product-modal__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.product-modal__image {
  flex-basis: 30%;
  width: 30%;
}
.product-modal__description {
  margin-top: 1rem;
  font-size: 1.2em;
}

.product-modal-data-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.product-modal__supported-title {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.product-modal__supported-list {
  width: 27%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.product-modal__supported-list-item {
  margin-right: 0.5rem;
  margin-bottom: 5rem;
  color: #eee;
  background-color: #469ca6;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  font-size: 1em;
  text-transform: uppercase;
}

.product-modal-data {
  flex-basis: 60%;
  flex-shrink: 1;
}
