@import 'mixins/breakpoints.scss';

.product-category {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.product-category__title {
  margin-bottom: 16px;
}

.product-category-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include smaller-than(1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include smaller-than(640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
