.leaderboard-user {
  display: flex;
  flex-flow: row;

  &--is-top-three {
    flex-flow: column;

    position: relative;

    > .leaderboard-user__rank {
      position: absolute;
      top: 10px;
      left: 0;
    }

    > .leaderboard-user__image {
      border: 2px solid orange;
    }
  }
}

.leaderboard-user__rank {
}

.leaderboard-user__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.leaderboard-user__username {
}
.leaderboard-user__score {
}
