.modal-overlay {
  background-color: rgba(#000, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;

  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(#000, 0.6);

  width: 95vw;
  height: 90vh;

  overflow: auto;

  padding: 40px;
}
