@import 'variables/colors.scss';

.modal-overlay {
  background-color: rgba(#000, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;

  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 hsla(0, 0, 0%, 0.6);

  width: 80vw;
  height: 80vh;

  overflow: auto;

  padding: 80px;

  display: flex;
  flex-flow: column;
  align-content: center;
  position: relative;
}

.modal__close-button {
  position: fixed;
  top: 10vh;
  left: 10vw;

  border: none;
  background-color: transparent;
  padding: 16px 26px;
  font-size: 2rem;
  cursor: pointer;
}
