@import 'variables/colors.scss';
@import 'mixins/breakpoints.scss';

.modal-overlay {
  background-color: rgba(#000, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;

  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 hsla(0, 0, 0%, 0.6);

  width: fit-content;
  max-width: 80vw;
  height: fit-content;
  max-height: 80vh;

  overflow: hidden;

  display: flex;
  flex-flow: column;
  align-content: center;
  position: relative;

  @include smaller-than(1024px) {
    max-width: 90vw;
    max-height: 90vh;
  }
}

.modal__close-button {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
  background-color: transparent;
  padding: 16px 26px;
  font-size: 2rem;
  cursor: pointer;

  @include smaller-than(640px) {
    padding: 8px 16px;
    font-size: 1.4rem;
  }
}

.modal__children-wrapper {
  overflow: auto;
  padding: 80px;

  @include smaller-than(1024px) {
    padding: 40px;
  }
  @include smaller-than(420px) {
    padding: 40px 20px;
  }
}
