@import 'variables/colors.scss';
@import 'mixins/breakpoints.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $gray;
  font-family: 'roboto';
  color: $text-color;
  line-height: 1.5;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  padding: 60px;
  max-width: 1800px;
  margin: 0 auto;

  @include smaller-than(1024px) {
    padding: 60px 40px;
  }

  @include smaller-than(640px) {
    padding: 40px 20px;
  }
}

h2 {
  font-size: 2.5em;

  @include smaller-than(640px) {
    font-size: 2rem;
  }

  @include smaller-than(420px) {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 2em;

  @include smaller-than(640px) {
    font-size: 1.5rem;
  }

  @include smaller-than(420px) {
    font-size: 1rem;
  }
}

ol,
ul {
  list-style: none;
}
